{% extends(':Admin:base.html.twig') %}
{% block titlePage %}<h1>Пользователи</h1>{% endblock %}
{% block breadcrumbs %}
    {{ parent() }}
    <li class="active">
        <a href="{{ path('admin_user_index') }}">Users</a>
    </li>
{% endblock breadcrumbs %}

{% block content %}
    <div class="page-content box box-primary">
        <div class="row">
            <br>
            <div class="col-xs-12">
                <table id="simple-table" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Логин</th>
                        <th>Email</th>
                        <th>
                            <i class="ace-icon fa fa-clock-o"></i>
                            Зарегистрирован
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    {% if user %}
                        {% for item in user %}
                            <tbody>
                            <tr>
                                <td>
                                    <span>{{ item.id }}</span>
                                </td>
                                <td><img src="{{ vich_uploader_asset(item, "imageFile") }}" style="width:30px;height:30px;"> {{ item.username }}</td>
                                <td>{{ item.email }}</td>
                                <td class="hidden-480">
                                    {{ item.createdat|date("d/m/Y  H:i") }}
                                </td>

                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <a href="{{ path('admin_user_show', {'id': item.id}) }}" class="fa fa-eye"></a>

                                        <button class="btn btn-xs btn-danger hidden">
                                            <i class="">
                                                {{ form_start(deleteForm[item.id],
                                                {attr : {onsubmit: 'return confirm("Выдействительно хотите удалить пользователя?");' }}) }}
                                                {{ form_widget(deleteForm[item.id].submit) }}
                                                {{ form_end(deleteForm[item.id]) }}
                                            </i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    {% endif %}

                </table>
                <ul class="pager">
                    {{ knp_pagination_render(user) }}
                </ul>
            </div><!-- /.span -->
        </div><!-- /.row -->
    </div><!-- PAGE CONTENT ENDS -->
{% endblock content %}