{% extends('@App/Admin/User/index.html.twig') %}

{% block breadcrumbs %}
    {{ parent() }}
    <li>
        <span>User Profile</span>
    </li>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <img class="profile-user-img img-responsive img-circle" src="{{ vich_uploader_asset(user, "imageFile") }}" alt="User profile picture">
                            {% if user.nickname is defined %}
                                <h3 class="profile-username text-center">
                                    {{ user.nickname }}
                                </h3>

                                <p class="text-muted text-center">{{ user.username }}</p>
                            {% else %}
                                <h3 class="profile-username text-center">
                                    {{ user.username }}
                                </h3>
                            {% endif %}

                        </div>
                        <!-- /.box-body -->
                        <hr>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <strong><i class="fa fa-book margin-r-5"></i>E-mail</strong>

                            <p class="text-muted">
                                {{ user.email }}
                            </p>

                            <hr>

                            <strong><i class="fa fa-map-marker margin-r-5"></i>Registered</strong>

                            <p class="text-muted">{{ user.createdAt | date("d.m.Y  H:i") }}</p>

                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="{{ 'admin_user_show' in app.request.get('_route') ? 'active' : '' }}"><a href="{{ path('admin_user_show',{'id':user.id}) }}">
                                    Posts <span class="label label-primary">{{ user.posts | length }}</span>
                                </a></li>
                            <li class="{{ 'admin_user_comments' in app.request.get('_route') ? 'active' : '' }}"><a href="{{ path('admin_user_comments',{'id':user.id}) }}" >
                                    Comments <span class="label label-primary">{{ user.comments | length }}</span>
                                </a></li>
                            <li class="{{ 'admin_user_update' in app.request.get('_route') ? 'active' : '' }}"><a href="{{ path('admin_user_update',{'id':user.id}) }}">Update</a></li>
                        </ul>

                        <div class="tab-content">

                            <div class="{{ 'admin_user_show' in app.request.get('_route') ? 'active' : '' }} tab-pane" id="posts">
                                {% block posts %}
                                {% endblock %}
                            </div>

                            <div class="{{ 'admin_user_comments' in app.request.get('_route') ? 'active' : '' }} tab-pane" id="comments">
                                {% block comments %}
                                {% endblock %}
                            </div>

                            <div class="{{ 'admin_user_update' in app.request.get('_route') ? 'active' : '' }} tab-pane" id="update">
                                {% block update %}
                                {% endblock %}
                            </div>
                            
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

        </section>
        <!-- /.content -->
    </div>
</div>

{% endblock %}
